# Open Media Vault

[http.routers]
  [http.routers.router-omv]
      entryPoints = ["websecure"]
      rule = "Host(`omv.yourdomain.com`)"
      service = "service-omv"
      # middlewares = ["chain-oauth", "another-middleware-if-needed"]
      middlewares = ["chain-oauth"]
      [http.routers.router-omv.tls]
        certresolver = "letsencrypt"

[http.services]
  [http.services.service-omv]
    [http.services.service-omv.loadBalancer]
      passHostHeader = true
      [[http.services.service-omv.loadBalancer.servers]]
        url = "http://192.168.1.100:8081" # OMV IP:Port address